.about {
  .content-page_hero {
    @include content-hero-img(url('/img/about/about-hero-mobile.jpg'));

    @include mq(medium) {
      @include content-hero-img(url('/img/about/about-hero.jpg'));
    }
  }

  &_container {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &_team {
    display: none;
    margin-bottom: 40px;

    @include mq(small) {
      display: block;
    }

    h3 {
      font-size: 24px;
    }

    >div {
      padding-bottom: 1em;
      border-bottom: 1px solid #f3f3f3;

      &:last-of-type {
        border-bottom: none;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      >img {
        margin-right: 25px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;

    @include mq(medium) {
      flex-direction: row;
    }

    >div {
      &:first-of-type {
        margin-right: 2.25em;
        flex: 1 0 125px;
      }

      &:last-of-type {
        flex: 1;
      }
    }
  }
}