.contact {
    &--hero {
        @include hero-img(url('/img/contact-hero.jpg'));
    }

    &--content {
        display: flex;
        flex-direction: column;
        @include mq(medium) {
          flex-direction: row;
        }

        > div {
            flex: 1;
        }

        &-form {
            padding-right: 5%;
        }

        &-info {
            padding: 1.25em;
            border: 1px solid #dedede;
            background: #F8F8F8;
            &-directions {
              margin-top: 1em;
            }
        }
    }
}
