.gallery {
    .content-page_hero {
        @include content-hero-img(url('/img/gallery-hero.jpg'));
    }

    &--intro {
        padding-top: 3em;

        .page-title {
            margin-bottom: 0;
        }
    }

    &--navigation {
        margin-bottom: 100px;
        display: flex;
    }

    li {
        font-size: 16px;
    }
}

.gallery-item {
    margin-bottom: 1.35em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f4f6f8;

    @include mq(small) {
        margin-bottom: 3.35em;
        flex-direction: row;
    }

    .cd-item-info {
        margin-top: 1em;

        @include mq(small) {
            margin-top: 0;
        }
    }
}