.newsletter {
  .content-page_hero {
    @include content-hero-img(url('/img/newsletter/newsletter-hero.jpg'));
    min-height: 250px !important;
    height: 180px !important;
    @include mq(medium) {
      @include content-hero-img(url('/img/newsletter/newsletter-hero.jpg'));
      min-height: 350px !important;
      height: 200px !important;
    }
    h1 {
      text-shadow: 2px 2px 2px #000;
      letter-spacing: 2px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      color: #dadada;
      @include mq(small) {
        font-size: 20px;
      }
    }
  }

  &--masthead {
    &_title {
      padding-bottom: 64px;
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      &--hr {
        width: 380px;
        border-bottom: 1px solid #9FA6B2;
      }
    }
    &_content {
      p {
        &:first-of-type {
          margin-top: 18px;
          margin-bottom: 24px;
        }
        &:last-of-type {
          font-size: 24px;
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }

  &--section-title {
    margin-bottom: 24px;
    display: flex;
    border-bottom: 2px solid #D33E43;

    &_svg {
      margin-right: 8px;
      width: 32px;
      height: 32px;
    }

    h2 {
      margin-bottom: 8px;
    }
  }

  &--header {
    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    h4 {
      margin-bottom: 24px;
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
    }

  }

  &--hr {
    margin: 24px 0 48px 0;
    border: .25px solid #e6e6e6;
  }

  &--new-project {
    &_details {
      p {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }

    &_thumbnails {
      margin-top: 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      >img {
        grid-column: span 3 / span 3;
        cursor: pointer;
      }
    }
  }

}

.border-active {
  border: 2px solid #D33E43;
}