.rates {
    &--hero {
        @include hero-img(url('/img/rates-hero.jpg'));
    }

    &--intro {
        > div {
            display: flex;
            align-items: center;

            > div {
                flex: 1;

                img {
                    width: 350px;
                }
            }
        }
    }

    &--plans-bottom {
        @include rates-callout(url('/img/rates-bottom.jpg'));
    }

    &--plans-top {
        @include rates-callout(url('/img/rates-top.jpg'));
    }

    &--pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include mq (small) {
            flex-direction: row;
        }

        &-item {
            margin: 1em 0.5em;
            flex: 1 300px;
            text-align: center;
            @include mq (small) {
                margin: 0 0.5em;
            }

            &-top {
                padding: 1em 2.25em;
                color: #fff;
                background-color: #6D4DC6;

                > p {
                    font-size: 3rem;
                    margin-bottom: 5px;
                }

                > h4 {
                    margin-bottom: 0;
                    font-size: 1.05rem;
                    font-weight: 300;
                }
            }

            &-bottom {
                padding: 2em 1.25em;
                background-color: #fff;

                small {
                    margin-bottom: 15px;
                    display: block;
                }
            }
        }
    }

    &--review-callout {
        > div {
            display: flex;
            align-items: center;
        }

        &-img {
            flex: 1;

            img {
                width: 350px;
                margin: 0 auto;
            }
        }

        &-txt {
            flex: 1;

            > p {
                margin-bottom: 5px;
                font-size: 1.15rem;
                text-align: center;
            }
        }
    }
}
