.global {
    &--content_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include mq (medium) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &--content_img {
        max-width: 486px;
        order: 2;
        @include mq(medium) {
            order: inherit;
        }
    }
    &--content_text {
        max-width: 475px;
        position: relative;
        order: 1;
        @include mq(medium) {
            max-width: 375px;
            order: inherit;
        }
        > h3 {
            font-size: 26px;
            font-weight: 600;
        }
        > p {
            font-size: 18px;
            color: #2F3640;
        }
    }
}

.hr-content_horizontal {
    margin-top: 0;
    margin-bottom: 25px;
    width: 100px;
    display: inline-block;
    border: 2px solid $primary-color;
}

.hr-content_vertical {
    width: 0;
    position: absolute;
    left: -25px;
    top: 0;
    margin: 0;
    height: 100px;
    border: 2px solid $primary-color;
}

.content-page {
    margin: -90px auto 50px;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    &_hero {
        > h1 {
            color: #fff;
            font-size: 48px;
            text-transform: capitalize;
        }
    }
}

.services--synopsis {
    margin-bottom: 5em;
}