.homepage--testimonies {
    background: #f4f6f8;
    margin-bottom: 4em;
    @include mq (medium) {
        background-image: url('/img/cad.png');
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
    }
    &_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        @include mq(medium) {
            flex-direction: row;
        }
    }
    .wrapper_wide {
        padding-top: 5em;
        padding-bottom: 5em;
        >h2 {
            color: rgba(48,55,65,0.6);
            text-align: center;
            @include mq(medium) {
                color: #fff;
                text-align: left;
            }
        }
    }
    &_content {
        flex: 1;
        hr {
            margin-left: auto;
            margin-right: auto;
            display: block;
            @include mq(medium) {
                display: inline-block;
            }
        }
        >p {
            max-width: 625px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: #333e48;
            line-height: 1.5;
            @include mq(medium) {
                color: #fff;
                text-align: left;
                margin-left: inherit;
                margin-right: inherit;
            }
        }
        >a {
            display: block;
            max-width: 158px;
        }
    }
    &_testimony {
        margin-top: 3.25em;
        padding: 1.75em;
        max-width: 325px;
        -webkit-box-flex: 1;        
        -ms-flex: 1 0 auto;        
        flex: 1 0 auto;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
        text-align: center;
        @include mq(medium) {
            margin-top: 0;
        }
        >h3 {
            font-size: 22px;
            line-height: 1.35;
            color: #2F3640;
        }
        >p {
            max-width: 325px;
            margin: 20px auto;
        }
        img {
            margin: 0 auto 10px;
        }
    }
    &_info {
        > img {
            width: 75px;
            border-radius: 50%;
        }
        p {
            &:last-of-type {
                margin-top: 5px;
                font-size: 12.5px;
            }
        }
    }
}

// Client Logos

.homepage--clients {
    margin-bottom: 3em;
    &_logos {
        >div {
            margin-top: 1.25em;
            margin-bottom: 3.25em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            @include mq(medium) {
                margin-top: 1.25em;
                margin-bottom: 3.25em;
                flex-direction: row;
            }
            &:last-of-type {
                display: none;
                @include mq(medium) {
                    display: flex;
                }
            }
            img {
                margin-bottom: 2.25em;
                width: 150px;
                @include mq(medium) {
                    margin-bottom: 0;
                }
            }
        }
    }
    h2 {
        text-align: center;
        @include mq(medium) {
            text-align: left;
        }
    }
}